.message-list{
    position: absolute;
    top: 0;
}

.message{
    border: solid 1px #ccc;
    background: #000;
    color: #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}
.message:nth-child(0) {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.message:nth-child(1) {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}
.message:nth-child(2) {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}